GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_HOMEPAGE_URL=http://localhost:3000
GITHUB_HOMEPAGE_CALLBACK=http://localhost:3000/callback
MODEL_API=
MODEL_KEY=
MODEL_NAME=
DATABASE_URL=
NEXTAUTH_SECRET=
NEXTAUTH_URL=http://localhost:3000
