GITHUB_CLIENT_ID=Ov23liuIyDasILUgIhRQ
GITHUB_CLIENT_SECRET=27904c71d954143ea05f4778006e93aaf96afbff
GITHUB_HOMEPAGE_URL=http://localhost:3000
GITHUB_HOMEPAGE_CALLBACK=http://localhost:3000/callback
MODEL_API=https://api.chatanywhere.tech
MODEL_KEY=sk-yGEyNOcdFd3ESG9FI6PlLMgj15NnVm4scushZwScJMj8tCz1
MODEL_NAME=gemini-3-pro-preview
DATABASE_URL="postgresql://myuser:mypassword@localhost:5432/intellideploy?schema=public"
NEXTAUTH_SECRET=
NEXTAUTH_URL=http://localhost:3000
